<table border="1">
    <thead>
        <tr>
            <th>Acceptance Criteria</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#allCodes}}
        <tr id="{{Code}}">
            <td class="code">
                <a href="#{{Code}}">{{Code}}</a>
            </td>
            <td class="status">
                <img src="./status/{{status/}}{{Code}}.svg" width="25" height="25" />
            </td>
            <td class="should">
                {{Systests}}
            </td>
        </tr>
        {{/allCodes}}
    </tbody>
</table>