<table border="1">
    <thead>
        <tr>
            <th>Acceptance Criteria</th>
            <th>Covered</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#allCodes}}
        <tr id="{{Code}}" class="result {{className}}">
            <td class="code">
                <sup><a href="#{{Code}}">#</a></sup> 
                <span>{{Code}}</span>
            </td>
            <td class="tested">
                <img src="./status/{{status/}}{{Code}}-tested.svg" title="{{CoveredLabel}}" width="25" height="25" loading="lazy" />
            </td>
            <td class="status">
                <img src="./status/{{status/}}{{Code}}.svg" title="{{PassingLabel}}" width="25" height="25" loading="lazy" />
            </td>
            <td class="source">
                {{Definition}}
            </td>
        </tr>
        {{/allCodes}}
    </tbody>
</table>