<table border="1">
    <thead>
        <tr>
            <th>AC</th>
            <th>Covered</th>
            <th>Status</th>
            <th>Category</th>
            <th>Milestone</th>
            <th>Criteria</th>
        </tr>
    </thead>
    <tbody>
        {{#allCodes}}
        <tr id="{{Code}}" class="result {{className}}" data-milestone="{{Milestone}}" data-feature="{{Feature}}">
            <td class="code" data-code="{{Code}}">
                <sup><a href="#{{Code}}">#</a></sup>
                <sup><a target="_blank" href="https://github.com/search?q=org%3Avegaprotocol%20{{Code}}&type=code">🕵️</a></sup>
                <span>{{Code}}</span>
            </td>
            <td class="tested">
                <img src="./status/{{status/}}{{Code}}-tested.svg" title="{{CoveredLabel}}" width="25" height="25" loading="lazy" />
            </td>
            <td class="status">
                <img src="./status/{{status/}}{{Code}}.svg" title="{{PassingLabel}}" width="25" height="25" loading="lazy" />
            </td>
            <td>
            {{Feature}}
            </td>
            <td>
            {{Milestone}}
            </td>
            <td class="source">
                {{{Definition}}}
            </td>
        </tr>
        {{/allCodes}}
    </tbody>
</table>
