<!doctype html>
<html>
<head>
  <title>Approbation report</title>
  <meta charset="UTF-8"/>
  {{> stylesheet }}
</head>
<body>
  <main>
  
    {{> codes }}
    
  </main>
  
  {{> footer }}
  
</body>
</html>