<!doctype html>
<html>
<head>
  <title>System Test Coverage Report | Approbation</title>
  <meta charset="UTF-8"/>
  {{> stylesheet }}
</head>
<body>
  <main>
    {{> codes }}
  </main>
  <menu>
    {{> filters}} 
  </menu>
  {{> footer }}
</body>
</html>